--  
-- Script to Update Data in anna-pc.ajsteglinski 
-- Generated Friday, November 30, 2012, at 08:26 PM 
--  
-- Please backup anna-pc.ajsteglinski before executing this script
--  

-- ** Script Begin **

SET ANSI_NULLS, ANSI_PADDING, ANSI_WARNINGS, ARITHABORT, QUOTED_IDENTIFIER, CONCAT_NULL_YIELDS_NULL, XACT_ABORT ON
GO
SET NUMERIC_ROUNDABORT OFF
GO
BEGIN TRANSACTION
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblFeaturedItems] DROP CONSTRAINT [FK_tblFeaturedItems_tblPortfolio]
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblFeaturedItems] DROP CONSTRAINT [FK_tblFeaturedItems_tblSections]
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblPortfolio] DROP CONSTRAINT [FK_tblPortfolio_tblExpandText]
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblPortfolio] DROP CONSTRAINT [FK_tblPortfolio_tblPortfolio]
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
   COMMIT TRANSACTION
GO
BEGIN TRANSACTION
SET IDENTITY_INSERT [dbo].[tblExpandText] ON
INSERT INTO [dbo].[tblExpandText] ([ExpandId], [ExpandText]) VALUES (1, N'View Demonstartion')
INSERT INTO [dbo].[tblExpandText] ([ExpandId], [ExpandText]) VALUES (2, N'View Larger Image')
INSERT INTO [dbo].[tblExpandText] ([ExpandId], [ExpandText]) VALUES (3, N'Visit the Website')
SET IDENTITY_INSERT [dbo].[tblExpandText] OFF
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
BEGIN
   PRINT 'Data Update Of [dbo].[tblExpandText] Successfully Completed'
   COMMIT TRANSACTION
END ELSE
BEGIN
   PRINT 'Data Update Of [dbo].[tblExpandText] Failed'
END
GO
BEGIN TRANSACTION
SET IDENTITY_INSERT [dbo].[tblSections] ON
INSERT INTO [dbo].[tblSections] ([SectionId], [SectionName], [SectionImageName], [SectionFolderName]) VALUES (1, N'Web Development', N'web_development_section.png', N'Websites')
INSERT INTO [dbo].[tblSections] ([SectionId], [SectionName], [SectionImageName], [SectionFolderName]) VALUES (2, N'Flash', N'flash_section.png', N'Flash')
INSERT INTO [dbo].[tblSections] ([SectionId], [SectionName], [SectionImageName], [SectionFolderName]) VALUES (3, N'Design', N'design_section.png', N'Design')
SET IDENTITY_INSERT [dbo].[tblSections] OFF
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
BEGIN
   PRINT 'Data Update Of [dbo].[tblSections] Successfully Completed'
   COMMIT TRANSACTION
END ELSE
BEGIN
   PRINT 'Data Update Of [dbo].[tblSections] Failed'
END
GO
BEGIN TRANSACTION
SET IDENTITY_INSERT [dbo].[tblPortfolio] ON
SET IDENTITY_INSERT [dbo].[tblPortfolio] OFF
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
BEGIN
   PRINT 'Data Update Of [dbo].[tblPortfolio] Successfully Completed'
   COMMIT TRANSACTION
END ELSE
BEGIN
   PRINT 'Data Update Of [dbo].[tblPortfolio] Failed'
END
GO
BEGIN TRANSACTION
SET IDENTITY_INSERT [dbo].[tblFeaturedItems] ON
INSERT INTO [dbo].[tblFeaturedItems] ([featuredId], [sectionId], [itemId]) VALUES (1, 1, 10)
INSERT INTO [dbo].[tblFeaturedItems] ([featuredId], [sectionId], [itemId]) VALUES (2, 2, 3)
INSERT INTO [dbo].[tblFeaturedItems] ([featuredId], [sectionId], [itemId]) VALUES (3, 3, 28)
SET IDENTITY_INSERT [dbo].[tblFeaturedItems] OFF
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
BEGIN
   PRINT 'Data Update Of [dbo].[tblFeaturedItems] Successfully Completed'
   COMMIT TRANSACTION
END ELSE
BEGIN
   PRINT 'Data Update Of [dbo].[tblFeaturedItems] Failed'
END
GO
BEGIN TRANSACTION
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblFeaturedItems] ADD CONSTRAINT [FK_tblFeaturedItems_tblPortfolio] FOREIGN KEY ([itemId]) REFERENCES [dbo].[tblPortfolio] ([ItemId])
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblFeaturedItems] ADD CONSTRAINT [FK_tblFeaturedItems_tblSections] FOREIGN KEY ([sectionId]) REFERENCES [dbo].[tblSections] ([SectionId])
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblPortfolio] ADD CONSTRAINT [FK_tblPortfolio_tblExpandText] FOREIGN KEY ([ItemExpandId]) REFERENCES [dbo].[tblExpandText] ([ExpandId])
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
  ALTER TABLE [dbo].[tblPortfolio] ADD CONSTRAINT [FK_tblPortfolio_tblPortfolio] FOREIGN KEY ([ItemSectionId]) REFERENCES [dbo].[tblSections] ([SectionId])
GO
IF @@ERROR <> 0
  IF @@TRANCOUNT = 1 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT = 1
   COMMIT TRANSACTION
GO
