@{
    ViewBag.Title = "Just for Fun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well clearfix">
    <div class="col-md-12">
        <h2 class="page-header">
            Just for Fun
        </h2>
        <h4>
            I have to admit, most of my free time is spent away from the computer.
        </h4>
        <h5>However, there have been a few projects that I'm particularly fond of that I would love to share.</h5>
        <h5>Here are a few of those fun projects. </h5>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        Content Here
    </div>
</div>
