@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well clearfix">
    <div class="col-md-8">
        <h2 class="page-header">
            Welcome, I'm Anna Campbell (Steglinski) <small> .NET Developer</small>
        </h2>
        <h4>
            <strong>
                Fullstack .NET developer with a focus in front-end development and usability.
            </strong>
        </h4>
        <h4>
            2010 graduate of Rochester Institute of Technology.
        </h4>
        <h4>Degree in <a href="http://igm.rit.edu/node/142">New Media Interactive Development</a>.</h4>

        <h4><small>Systems Architect at Genesee & Wyoming Railroad.</small></h4>
        <h5>p: <a href="tel:585-732-9515">585.732.9515</a></h5>
        <h5>e: <a href="mailto:anna.steglinski@gmail.com">anna.steglinski@gmail.com</a></h5>
    </div>
    <div class="col-md-4 page-header">
        <img src="/Content/images/welcome_photo.jpg" style="width:300px" />

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <p class="lead">
            In my professional career I've had the priviledge to work for various companies working soley with Microsoft .NET technologies including:
            <ul>
                <li>ASP.NET web forms</li>
                <li>MVC</li>
                <li>C#</li>
                <li>Twitter Bootstrap framework</li>
                <li>Kendo UI</li>
                <li>Knockout.js</li>
            </ul></p>
        <p>After graduation from Rochester Institute of Technology in 2010, I accepted a position with <a href="http://www.brandintegrity.com">Brand Integrity, LLC.</a> in Rochester, NY where I worked for two and a half years on their proprietary software, Potential Point. I have since worked with a few different companies doing .NET development and am still residing in Rochester, NY.</p>
        <p>
            I started making websites in 6th grade (2000), creating my first Harry Potter website
            using Homestead's page maker. Eventually enjoyed this so much I taught myself HTML
            and began to expand and improve my website. Over the course of a few years it evolved
            eventually becoming Bludgers 'N Broomsticks. I kept with this site until 10th grade
            (2004) where I sold it to one of the volunteer staff members that I had "working"
            for me keeping the information up to date. The site eventually had become a collaborative
            effort between me and a few volunteers who had various jobs from creating new content,
            gathering news, or updating content. However the entire site was primarily managed
            by myself.
        </p>
        <p>
            In my spare time, I am heavily involved with <a href="http://www.northridgerochester.com">
                Northridge Church
            </a>. I spend most of my time connecting with fellow young adults from my church through my community group, which I have the pleasure to colead. In 2013 I started a journey to get healthy and live a better life-style and joined <a href="http://www.tsfl.com">Take Shape for Life</a>. Through this I have lost a significant amount of weight and started blogging weekly about my journey and experiences, which you can find on my <a href="http://medifast.ajsteglinski.com"> Medifast Blog</a>.
        </p>
        <p>As a result of this journey, I have begun training to run a 5k, with a long term goal of running a half-marathon. I enjoy trying almost any physical activity, but my favorites include biking, running, and snowboarding.</p>
        <p>
            For a full list of my skills please reference my @Html.ActionLink("resume", "Resume","Home")
        </p>
    </div>
</div>
