<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="PortfolioContext"
      connectionString="metadata=res://*/PortfolioContext.csdl|res://*/PortfolioContext.ssdl|res://*/PortfolioContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5020.Smarterasp.net;initial catalog=DB_9EEC92_WebPortfolio;persist security info=True;user id=DB_9EEC92_WebPortfolio_admin;password=E54952kg4g;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/></connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="RemoveAttributes(mode)"></customErrors>
  </system.web>
</configuration>