
<div class="well clearfix">
    <div class="col-xs-12">
        <h2 class="page-header">
            Anna Campbell (Steglinski)
            <a href="/Content/campbell_anna_resume.pdf" class="pull-right"><small>(PDF Version)</small></a>
        </h2>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h5><a href="tel:585-732-9515">585.732.9515</a></h5>
                <h5><a href="mailto:anna.steglinski@gmail.com">anna.steglinski@gmail.com</a></h5>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4 class="text-right">
                    <small>45 Avanti Drive <br /> Gates, NY 14606</small>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5><strong>Career Objective: </strong>To work for a company specializing in .NET website development, with a focus on front-end development while given the opportunity to learn from senior developers and eventually mentor younger developers.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>
                    <strong>Education: </strong>Rochester Institute of Technology, Rochester, NY <br />
                    <small>New Media Interactive Development | Cumulative G.P.A. 3.69</small>
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Skills</div>
    <div class="panel-body">
        <p>
            <strong>Programming Languages & Frameworks: </strong>, ASP.NET, ASP.NET MVC, C#, VB.NET, SQL, LINQ, Entity Framework, Web Services, HTML 4, HTML5, XML, XSLT, JavaScript, jQuery, Twitter Bootstrap, Skeleton, CSS2, CSS3, Kendo UI, Knockout.js
        </p>
        <p>
            <strong>Software: </strong>Adobe Photoshop, Adobe Flash, Visual Studio 2008/2010/2012, SourceGear Vault, SQL Server 2005/2008, IIS 6, IIS 7.5, DotNetNuke, Tortoise SVN, OnTime, Telerik, TeamPulse, Salesforce, Microsoft TFS
        </p>
    </div>
</div>
<h3 class="page-header">Web Development Experience</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Genesee & Wyoming Railroad, <small><em>Brighton, NY</em></small> <span class="pull-right"><em>1/14 - 1/16</em></span></h5>
    </div>
    <div class="panel-body">
        <h4>Systems Architect/.NET Developer</h4>
        <ul>
            <li>Worked independently on internal .NET web projects</li>
            <li>Converted legacy software applications to web applications</li>
            <li>Architected internal web solution combining existing web applications with new development into one solution</li>
            <li>Worked with one other developer to establish groundwork for Agile development cycle</li>
            <li>Developed strategy for testing web software before releases</li>
            <li>Established practices & standards for web team</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>eHealth Technologies, <small><em>Brighton, NY</em></small> <span class="pull-right"><em>1/13 - 1/14</em></span></h5>
    </div>
    <div class="panel-body">
        <h4>.NET Developer</h4>
        <ul>
            <li>Worked on a small team to develop bug fixes and new features using ASP.NET, MVC, C#, Entity framework, and SQL for the companies five .NET web applications</li>
            <li>Participated in daily and weekly meetings based on agile practices.</li>
            <li>Assisted in the deployment and testing of software applications during monthly releases.</li>
            <li>Completed application regression tests and cross-browser compatibility tests prior to each release</li>
            <li>Assisted in the writing of bugs, user stories, and acceptance criteria for new features</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>StormFrog, <small><em>Victor, NY</em></small> <span class="pull-right"><em>10/12 - 12/12</em></span></h5>
    </div>
    <div class="panel-body">
        <h4>.NET Developer</h4>
        <ul>
            <li>Worked as part of a team of developers to deliver websites for clients using C#, ASP.NET, and SQL</li>
            <li>Developed DotNetNuke modules for client websites</li>
            <li>Juggled multiple projects combined with tight deadlines in a fast-paced environment.</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Brand Integrity, <small><em>Rochester, NY</em></small> <span class="pull-right"><em>6/10 - 9/12</em></span></h5>
    </div>
    <div class="panel-body">
        <h4>.NET Developer</h4>
        <ul>
            <li>Worked with a small team of developers to develop software fixes & enhancements using the SCRUM framework.</li>
            <li>Developed DotNetNuke modules using C#, ASP.NET, and LINQ for company’s proprietary software</li>
            <li>Provided level 2 customer support for clients experiencing difficulties using the software.</li>
            <li>Completed software patches/releases on a recurring basis according to the principles of SCRUM.</li>
            <li>Participated in daily SCRUMs, Retrospectives, and Sprint Planning meetings</li>
            <li>Collaborated with designer on any front-end changes for the software and company website.</li>
            <li>Shared responsibility of testing bug fixes and enhancements during software development life-cycle</li>
        </ul>
    </div>
</div>

<h3 class="page-header">Internship Experience</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Grants Office, LLC, <small><em>Rochester, NY</em></small> <span class="pull-right"><em>9/09 - 5/10</em></span></h5>
    </div>
    <div class="panel-body">
        <h4>Intern, Part-time Web Developer</h4>
        <ul>
            <li>Researched and developed a more efficient method to search the company’s database.</li>
            <li>Developed web application using C#, ASP.NET, and SQL to automate creation of grant reports for staff members</li>
            <li>Updated and maintained company website as needed.</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Layer 8 Group, <small><em>Rochester, NY</em></small> <span class="pull-right"><em>5/09 - 8/09</em></span></h5>
    </div>
    <div class="panel-body">
        <h4>Intern, Part-time Web Developer</h4>
        <ul>
            <li>Developed websites using ASP.NET and Visual Basic, converting design from PSD to HTML and CSS while integrating it with DotNetNuke.</li>
            <li>Created custom administration pages using jQuery, SQL, and Visual Basic for client to manage user data stored in a database.</li>
            <li>Updated existing client websites with new content as requested.</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Nimble User, Inc. (VanDamme Associates), <small><em>Pittsford, NY</em></small> <span class="pull-right"><em>6/08 - 1/09</em></span></h5>
    </div>
    <div class="panel-body">
        <h4>Intern, Part-time Web Developer</h4>
        <ul>
            <li>Collaborated with other members of the development team to produce a website for clients using ASP.NET.</li>
            <li>Cut up PSD designs into websites using ASP.NET, and CSS while providing support for Internet Explorer 6 and 7.</li>
            <li>Integrating the content management system with web projects to allow for easy maintenance for clients</li>
        </ul>
    </div>
</div>
